In [2]:
import os
import glob

In [3]:
import pandas as pd

## Importing negative train and test data

In [4]:
# Set file path and get Text files for negative reviews in training set
os.chdir(r"Resources/data/aclImdb/train/neg")
filenames = [i for i in glob.glob("*.txt")]

In [5]:
# Read entire Text file as a single string and add each string to a list
text = [pd.read_csv(file_name, sep='\n', header=None)[0].str.cat() for file_name in filenames]

# Convert list to pandas dataframe
train_neg_df = pd.DataFrame(text, columns=['text'])
train_neg_df.head()

                                                text
0  Story of a man who has unnatural feelings for ...
1  Airport '77 starts as a brand new luxury 747 p...
2  This film lacked something I couldn't put my f...
3  Sorry everyone,,, I know this is supposed to b...
4  When I was little my parents took me along to ...

In [6]:
train_neg_df.shape

(12500, 1)

In [7]:
# Set file path and get Text files for negative reviews in test set
os.chdir(r"../../test/neg")
filenames = [i for i in glob.glob("*.txt")]

In [8]:
# Read entire Text file as a single string and add each string to a list
text = [pd.read_csv(file_name, sep='\n', header=None)[0].str.cat() for file_name in filenames]

# Convert list to pandas dataframe
test_neg_df = pd.DataFrame(text, columns=['text'])
test_neg_df.head()

                                                text
0  Once again Mr. Costner has dragged out a movie...
1  This is an example of why the majority of acti...
2  First of all I hate those moronic rappers, who...
3  Not even the Beatles could write songs everyon...
4  Brass pictures (movies is not a fitting word f...

In [9]:
test_neg_df.shape

(12500, 1)

In [10]:
# Append all negative data into a single dataframe
neg_df = train_neg_df.append(test_neg_df)
neg_df.shape

(25000, 1)

In [11]:
# Add sentiment column with value "negative"
neg_df['sentiment'] = 'negative'
neg_df.head()

                                                text sentiment
0  Story of a man who has unnatural feelings for ...  negative
1  Airport '77 starts as a brand new luxury 747 p...  negative
2  This film lacked something I couldn't put my f...  negative
3  Sorry everyone,,, I know this is supposed to b...  negative
4  When I was little my parents took me along to ...  negative

## Importing positive train and test data

In [12]:
# Set file path and get Text files for positive reviews in training set
os.chdir(r"../../train/pos")
filenames = [i for i in glob.glob("*.txt")]

In [13]:
# Read entire Text file as a single string and add each string to a list
text = [pd.read_csv(file_name, sep='\n', header=None)[0].str.cat() for file_name in filenames]

# Convert list to pandas dataframe
train_pos_df = pd.DataFrame(text, columns=['text'])
train_pos_df.head()

                                                text
0  Bromwell High is a cartoon comedy. It ran at t...
1  Homelessness (or Houselessness as George Carli...
2  Brilliant over-acting by Lesley Ann Warren. Be...
3  This is easily the most underrated film inn th...
4  This is not the typical Mel Brooks film. It wa...

In [14]:
train_pos_df.shape

(12500, 1)

In [15]:
# Set file path and get Text files for positive reviews in test set
os.chdir(r"../../test/pos")
filenames = [i for i in glob.glob("*.txt")]

In [16]:
# Read entire Text file as a single string and add each string to a list
text = [pd.read_csv(file_name, sep='\n', header=None)[0].str.cat() for file_name in filenames]

# Convert list to pandas dataframe
test_pos_df = pd.DataFrame(text, columns=['text'])
test_pos_df.head()

                                                text
0  I went and saw this movie last night after bei...
1  Actor turned director Bill Paxton follows up h...
2  As a recreational golfer with some knowledge o...
3  I saw this film in a sneak preview, and it is ...
4  Bill Paxton has taken the true story of the 19...

In [17]:
test_pos_df.shape

(12500, 1)

In [18]:
# Append all positive data into a single dataframe
pos_df = train_pos_df.append(test_pos_df)
pos_df.shape

(25000, 1)

In [19]:
# Add sentiment column with value "positive"
pos_df['sentiment'] = 'positive'
pos_df.head()

                                                text sentiment
0  Bromwell High is a cartoon comedy. It ran at t...  positive
1  Homelessness (or Houselessness as George Carli...  positive
2  Brilliant over-acting by Lesley Ann Warren. Be...  positive
3  This is easily the most underrated film inn th...  positive
4  This is not the typical Mel Brooks film. It wa...  positive

## Combining positive and negative reviews dataframes to a single dataframe

In [20]:
reviews_df = neg_df.append(pos_df)
reviews_df.shape

(50000, 2)

In [21]:
reviews_df.head()

                                                text sentiment
0  Story of a man who has unnatural feelings for ...  negative
1  Airport '77 starts as a brand new luxury 747 p...  negative
2  This film lacked something I couldn't put my f...  negative
3  Sorry everyone,,, I know this is supposed to b...  negative
4  When I was little my parents took me along to ...  negative

In [23]:
os.chdir(r"../../../")
reviews_df.to_csv('imdb_reviews_data.csv')